.bookpage {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10%;
}
/* Input Style */
#input {
	width: 160px;
	box-sizing: border-box;
	border: 2px solid  #3e739c;
	font-size: 16px;
	background-color: white;
	border-radius: 25px 0px 0px 25px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 5px 10px 5px 30px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
#input:focus {
	outline: none;
	width: 450px;
}
.input-style {
	margin: auto;
	margin-top: 25px;
}
/* Button Style */
#button-style {
	display: inline;
	border-radius: 0px 25px 25px 0px;
	width: 70px;
	height: 38px;
	margin-left: 0.5px;
	background: #182b3a;
	color: white;
}
#button-style:focus {
	outline: none;
}
