@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
.mission{
   display: flex;
   justify-content: center;
 flex-direction: row;
 padding-top: 6%;
 background: rgb(237, 238, 238);
 padding-bottom: 5%;
}

#owner-image{
    width: 50%;
    border-radius: 20% 20% 20% 20%;
}
.mission-statement{
font-family: 'Cormorant Garamond', serif;
font-size: 18px;
}
.ceo-bio{
font-family: 'Cormorant Garamond', serif;
font-size: 18px;
padding-top: 10px;
}
.bio{
   font-family: 'Kalam', cursive;
   font-weight: bold;
}
.owner{
       padding-bottom: 10%;
}

.ownership {
    padding-bottom: 5%;
}


.aboutus{
    padding-bottom: 1%;
    padding-top: 3%;
}
